#  Jour-1 les bases de python

### les variables

In [1]:
a = "Bonjour les ingenieurs " # str
b = 4 # int
c = 1.2 # float
d =True # boolean

### Affichage console

In [2]:
print("ceci est un text ")
print(a)

ceci est un text
Bonjour les ingenieurs

In [3]:
print("ceci est un entier ",b)

ceci est un entier  4

In [4]:
print("ceci est est un float {}".format(c))

ceci est est un float 1.2

In [5]:
print(f"ceci est un boolean {d}")

ceci est un boolean True

### Typage et cast

In [6]:
print(a,type(a))

Bonjour les ingenieurs  <class 'str'>

In [8]:
print(b,type(b))
b= float(b)
print(b,type(b))

4 <class 'int'>
4.0 <class 'float'>

In [9]:
print(c,type(c))
c =str(c)
print(c,type(c))
c =float(c)
print(c,type(c))

1.2 <class 'float'>
1.2 <class 'str'>
1.2 <class 'float'>

### Operation et operateur

c = a + b addition
c = a - b soustraction
c = a / b dividion
c == a  egal
c != a  different
and et
or ou
*

### Condition

In [ ]:
if a == b :
    print("a == b")
elif a == c :
    print("a == c")
else :
    print("a != b and a != c")

### Boucle

In [10]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [11]:
i= 5
while i >0 :
    print(i)
    i -= 1

5
4
3
2
1

### liste

In [12]:
maListe1 = [] # ou list() 
maListe2 = [1,"kany",1.2,True]
print(maListe1,type(maListe1))
print(maListe2)

[] <class 'list'>
[1, 'kany', 1.2, True]

In [13]:
print(maListe2[2])

1.2

In [14]:
maListe2.append(5)
print(maListe2)
maListe2.remove(5)
print(maListe2)

[1, 'kany', 1.2, True, 5]
[1, 'kany', 1.2, True]

In [15]:
for i in maListe2 :
    print(i)

1
kany
1.2
True

In [16]:
nbr = len(maListe2)
for i in range(0,nbr):
    print(maListe2[i])

1
kany
1.2
True

### Dictionnaire

In [17]:
monDict1 = {} # ou dict()
monDict2 = {"nom":"ndiaye","age":25,"isBG":False}
print(monDict2)

{'nom': 'ndiaye', 'age': 25, 'isBG': False}

In [18]:
monDict2["prenom"] = "magaye"
print(monDict2)

{'nom': 'ndiaye', 'age': 25, 'isBG': False, 'prenom': 'magaye'}

In [19]:
monDict2["isBG"] = True
print(monDict2)
del monDict2["isBG"]
print(monDict2)

{'nom': 'ndiaye', 'age': 25, 'isBG': True, 'prenom': 'magaye'}
{'nom': 'ndiaye', 'age': 25, 'prenom': 'magaye'}

In [20]:
for key in monDict2 :
    print(key," : ",monDict2[key])

nom  :  ndiaye
age  :  25
prenom  :  magaye

### Fonction

In [21]:
def fonction1():
    pass
fonction1()
def fonction2(a,b=1):
    print(a,b)
fonction2(5,2)
fonction2(5)

5 2
5 1

In [22]:
def fonction3(a):
    b = a +10
    return b
g=fonction3(2)
print(g)

12

### Class

In [ ]:
class Personne():

    def __init__(self, n):
        self.nom = n
        
    def direBonjour(self):
        print(f"Bonjour je suis {self.nom}")

In [ ]:
toure = Personne("Toure")
toure.direBonjour()